
.my-button{
    background-color: green;
    border: none;
    color:white;

    padding:16px 24px;
    font-size: 6px 4px;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 6px;
}




.my-form{
    border-radius: 6px;
    background-color: #f2f2f2;
    padding: 20px 16px;
    width: 300px;
    margin: auto;
}

.my-form input{
    width: 100%;
    padding: 12px 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.toda-largura{
    width:  100%;
    margin: 6px 0;
}

.my-form-group{
    margin-bottom: 6px;
}